{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage

{% endblock %}


{% block body_block %}

<!--the slider of the homepage -->
<div class="slider sliderv2">
	<div class="container">
		<div class="row">
			<div class="slider-single-item">
				{% if movies %}
				{% for movie in movies %}
				<div class="movie-item">
					<div class="row">
						<div class="col-md-8 col-sm-12 col-xs-12">
							<div class="title-in">
								<h1><a href={% url 'rango:movie_detail_page' movie.slug %}>{{movie.movie_name}} <br>
										<span>{{movie.release_year}}</span></h1></a>
								<div style="padding-top: 10px;" class="social-btn">
									<a href={{movie.trailer_link}} class="parent-btn"><i class="ion-play"></i> Watch
										Trailer</a>
								</div>
								<div class="mv-details">
									<p><i class="ion-android-star"></i><span>
											{% if movie.reviews_count > 0 %}
											{{ movie.get_average_rating }}
											{% else %}
											Nil
											{% endif %}
										</span> /10</p>
									<ul class="mv-infor">
										<li> {{movie.release_date}} </li>

									</ul>
								</div>
								<div class="btn-transform transform-vertical">
									<div><a href={% url 'rango:movie_detail_page' movie.slug %}
											class="item item-1 redbtn hvrbtn">more detail</a></div>
									<div><a href={% url 'rango:movie_detail_page' movie.slug %} 
										class="item item-2 redbtn hvrbtn">more detail</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="mv-img-2">

								<a href={% url 'rango:movie_detail_page' movie.slug %}><img
										src="{%static ''%}{{movie.movie_image}}"
										id="slider_image" /></a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<strong>There are no movies present.</strong>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!--end of the slider -->

<!-- the first area displays movie items sorted by release data -->
<div class="movie-items  full-width">
	<div class="row">
		<div class="col-md-12">
			<div class="title-hd">
				<h2>Order by date</h2>
				<a href="/movie/movies_list/" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
				<div class="tab-content">
					<div id="tab1-h2" class="tab active">
						<div class="row">
							<div class="slick-multiItem2">
								{% if movies2 %}
								{% for movie in movies2 %}
								<div>
									<div class="slide-it">
										<div class="movie-item">
											<div class="mv-img">
												<img src="{%static ''%}{{movie.movie_image}}" />
											</div>
											<div class="hvr-inner">

												<a href={% url 'rango:movie_detail_page' movie.slug %}>Read more</a>
											</div>
											<div class="title-in">
												<h6><a href="#">{{movie.movie_name}}</a></h6>
												<p><i class="ion-android-star"></i><span>
														{% if movie.reviews.count > 0 %}
														{{ movie.get_average_rating }}
														{% else %}
														Nil
														{% endif %}
													</span> /10</p>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}

								{% else %}
								<strong>There are no movies present.</strong>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end of the first display area -->

<!-- the second area displays movie items sorted by rating -->
<div class="movie-items  full-width">
	<div class="row">
		<div class="col-md-12">
			<div class="title-hd">
				<h2>order by rating</h2>
				<a href="/movie/movies_list/" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
				<div class="tab-content">
					<div id="tab1-h2" class="tab active">
						<div class="row">
							<div class="slick-multiItem2">
								{% if movies3 %}
								{% for movie in movies3 %}
								<div>
									<div class="slide-it">
										<div class="movie-item">
											<div class="mv-img">
												<img src="{%static ''%}{{movie.movie_image}}" />
											</div>
											<div class="hvr-inner">

												<a href={% url 'rango:movie_detail_page' movie.slug %}>Read more</a>
											</div>
											<div class="title-in">
												<h6><a href="#">{{movie.movie_name}}</a></h6>
												<p><i class="ion-android-star"></i><span>
														{% if movie.reviews.count > 0 %}
														{{ movie.get_average_rating }}
														{% else %}
														Nil
														{% endif %}
													</span> /10</p>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}

								{% else %}
								<strong>There are no movies present.</strong>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end of the second display area -->

{% endblock %}