{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}

<!--the Sign up icon -->
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> Sign up </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!--the form of Sign up-->
<div class="hero common-hero">
    <div class="container" style="margin-top: -100px;">
        <div class="col-md-12">
            <div class="row">

                {% if registered %}
                Rango says: <strong>thank you for registering!</strong>
                <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
                {% else %}
                <form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div id="register_table">
                        <h2>Username</h2>
                        {{ user_form.username}}
                        <h2>email</h2>
                        {{ user_form.email}}
                        <h2>password</h2>
                        {{ user_form.password }}
                        <h2>information</h2>
                        {{ profile_form.information }}
                        <h2>picture</h2>
                        {{ profile_form.picture }}
                    </div>
                    <div class="row">
                        <button class="butten" type="submit">sign up</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--end of the Sign up form-->

{% endblock %}